.container {
  width: 100vw;

  .main {
	display: flex;

	.container-img {
	  height: auto;
	  width: auto;
	  min-width: 300px;
	  display: flex;
	  justify-content: center;

	  img {
		object-fit: cover;
		height: 100%;
		border-radius: 30px;
	  }
	}

	.description {
	  display: flex;
	  flex-direction: column;
	  padding: 20px 30px;

	  .blockWithTitle {
		background-color: white;
		border-radius: 30px;
		padding: 20px 30px;
		white-space: normal;

		.date {
		  color: grey;
		  margin-top: 5px;
		  display: flex;
		  flex-wrap: wrap;

		  p {
			white-space: nowrap;
		  }
		}
	  }

	  h1, h3 {
		margin: 0;
		padding: 0;
	  }

	  .overview {
		margin-top: 20px;
		background-color: white;
		padding: 20px 30px;
		border-radius: 30px;
	  }

	  .country {
		margin-top: 20px;
		background-color: white;
		padding: 20px 30px;
		border-radius: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.rating {
		  color: white;
		  background-color: #0077FF;
		  padding: 6px 10px;
		  border-radius: 13px;
		  font-weight: bold;
		}
	  }
	}
  }
}


@media screen and (min-width: 700px) {
  .container-img {
	max-height: 450px;
	margin-left: 80px;
	margin-right: 20px;

	img {
	  width: 100%;
	}
  }

  .description {
	margin-right: 20px;

	h1 {
	  font-size: 40px;
	}
  }

  .overview {
	font-size: 25px;
  }

  .country {
	font-size: 20px;

	.rating {
	  font-size: 28px;
	}
  }
}


@media screen and (max-width: 700px) {
  .main {
	flex-direction: column;

	.container-img {
	  margin: 0;
	  max-height: 1500px;

	  img {
		width: 80%;
	  }
	}
  }

  .description {
	margin-right: 0;

	h1 {
	  font-size: 25px;
	}

	.overview {
	  h3 {
		font-size: 25px;
	  }

	  p {
		font-size: 20px;
	  }
	}

	.country {
	  font-size: 15px;

	  .rating {
		font-size: 20px;
	  }
	}
  }
}
